@media (max-width: 490px){
    body{
        background-image: url("../images/fond-accueil1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        flex-direction: row-reverse;
        position: fixed;
        width: 100%
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
        font-size: 10px;
    }

    h1{
        color: white;
    }

    .mb-3{
        color: white;
        margin-left: 2em;
        margin-top: 1em;
        font-size: 10px;
    }

    .formulaire{
        width: 75%;
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
        padding: 1em;
        padding-top: 6em;
        margin: 0 auto;
    }

    button{
        margin-top: 1em;
        background-color: maroon;
        border: none;
    }

    #voirMessage{
        color: white;
        text-decoration: none;
    }

    footer{
        width: 100%;
        margin-top: 36.4em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }
}

@media (min-width: 491px) and (max-width: 959px){
    body{
        background-image: url("../images/fond-accueil1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        flex-direction: row-reverse;
        position: fixed;
        width: 100%
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
    }

    .mb-3{
        color: white;
        margin-left: 2em;
        margin-top: 1em;
    }

    .formulaire{
        width: 50%;
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
        padding: 1em;
        padding-top: 6em;
        margin: 0 auto;
    }

    button{
        margin-top: 1em;
        background-color: maroon;
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
    }

    #voirMessage{
        color: white;
        text-decoration: none;
    }

    footer{
        width: 100%;
        margin-top: 36.4em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }
}

@media (min-width: 960px){
    body{
        background-image: url("../images/fond-accueil1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        flex-direction: row-reverse;
        position: fixed;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
    }

    .mb-3{
        color: white;
        margin-left: 2em;
        margin-top: 1em;
    }

    .formulaire{
        width: 50%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
        padding: 1em;
        padding-top: 6em;
    }

    button{
        margin-top: 1em;
        background-color: maroon;
        border: none;
    }

    #voirMessage{
        color: white;
        text-decoration: none;
    }

    footer{
        width: 100%;
        margin-top: 31em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }
}