@media (max-width: 490px){
    body{
        background-color: rgb(234, 234, 234);
        margin: 0 auto;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
        font-size: 10px;
    }

    h1{
        color: white;
    }

    .mb-3{
        color: white;
        margin-left: 2em;
        margin-top: 1em;
        font-size: 10px;
    }

    .formulaire{
        padding-top: 3em;
        width: 50%;
        margin: 0 auto;
    }

    button{
        margin-top: 1em;
    }

    #voirProjet{
        color: white;
        text-decoration: none;
    }

    footer{
        width: 100%;
        margin-top: 34.9em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }
}

@media (min-width: 491px){
    body{
        background-color: rgb(234, 234, 234);
        margin: 0 auto;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
    }

    .mb-3{
        color: white;
        margin-left: 2em;
        margin-top: 1em;
    }

    .formulaire{
        padding-top: 3em;
        width: 50%;
        margin: 0 auto;
    }

    button{
        margin-top: 1em;
    }

    #voirProjet{
        color: white;
        text-decoration: none;
    }

    footer{
        width: 100%;
        margin-top: 34.9em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }
}