@media (max-width: 490px){
    body{
        background-image: url("../images/fond-accueil4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
        color: maroon;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
        margin: 0 auto;
    }

    #error{
        width:  50%
    }

    .login{
        width: 75%;
        margin: 0 auto;
        margin-top: 2em;
        margin-left: 6em;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1em;
    }

    form{
        width: 73%;
    }

    button{
        margin-top: 2em;
        margin-left: 4em;
        background-color: maroon;
        border: none;
    }

    footer{
        width: 100%;
        margin-top: 5em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }

    #inputEmail, #inputPassword{
        width: 100%;
    }
}

@media (min-width: 491px) and (max-width: 959px){
    body{
        background-image: url("../images/fond-accueil3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
        color: maroon;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
        margin: 0 auto;
    }

    #error{
        width:  50%
    }

    .login{
        width: 80%;
        margin: 0 auto;
        margin-top: 2em;
        margin-left: 7em;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1em;
    }

    form{
        width: 73%;
    }

    button{
        margin-top: 2em;
        margin-left: 10em;
        background-color: maroon;
        border: none;
    }

    footer{
        width: 100%;
        margin-top: 33.5em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }

    #inputEmail, #inputPassword{
        width: 100%;
    }
}


@media (min-width: 960px) and (max-width: 1280px){
    body{
        background-image: url("../images/fond-accueil2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
        color: maroon;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
        margin: 0 auto;
    }

    #error{
        width:  50%
    }

    .login{
        width: 70%;
        margin: 0 auto;
        margin-top: 2em;
        margin-left: 5em;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1em;
    }

    form{
        width: 100%;
    }

    button{
        margin-top: 2em;
        margin-left: 22em;
        background-color: maroon;
        border: none;
    }

    footer{
        width: 100%;
        margin-top: 33.5em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }

    #inputEmail, #inputPassword{
        width: 100%;
    }
}

@media (min-width: 1281px){
    body{
        background-image: url("../images/fond-accueil1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
        color: maroon;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
        margin: 0 auto;
    }

    #error{
        width:  50%
    }

    .login{
        width: 70%;
        margin: 0 auto;
        margin-top: 2em;
        margin-left: 25em;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1em;
    }

    form{
        width: 85%;
    }

    button{
        margin-top: 2em;
        margin-left: 42.5em;
        background-color: maroon;
        border: none;
    }

    footer{
        width: 100%;
        margin-top: 33.5em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }

    #inputEmail, #inputPassword{
        width: 100%;
    }
}