@media (max-width: 490px){
    body{
        background-image: url("../images/fond-accueil4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 1em;
        font-size: 10px;
    }

    h1{
        color: white;
    }

    .competences{
        margin: 0 auto;
    }

    .mb-3{
        color: white;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        font-size: 10px;
    }

    img{
        margin-left: 7em;
    }

    h5{
        text-align: center;
    }

    a{
        margin-left: 5.6em;
    }

    .card{
        margin: 0 auto;
        margin-top: 1.4em;
    }

    footer{
        width: 100%;
        margin-top: 42.1em;
        padding: 1em;
        color: white;
        background-color: rgb(0, 149, 213);
    }
}

@media (min-width: 491px) and (max-width: 959px){
    body{
        background-image: url("../images/fond-accueil3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
    }

    .competences{
        margin: 0 auto;
    }

    .mb-3{
        color: white;
        margin-left: 2em;
        margin-top: 1em;
    }

    img{
        margin-left: 7em;
    }

    h5{
        text-align: center;
    }

    a{
        margin-left: 5.6em;
    }

    .card{
        margin: 0 auto;
        margin-top: 1.4em;
    }

    footer{
        width: 100%;
        margin-top: 42.1em;
        padding: 1em;
        color: white;
        background-color: rgb(0, 149, 213);
    }
}

@media (min-width: 960px) and (max-width: 1280px){
    body{
        background-image: url("../images/fond-accueil2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
    }

    .competences{
        margin: 0 auto;
    }

    .mb-3{
        color: white;
        margin-left: 2em;
        margin-top: 1em;
    }

    img{
        margin-left: 7em;
    }

    h5{
        text-align: center;
    }

    a{
        margin-left: 5.6em;
    }

    .card{
        margin: 0 auto;
        margin-top: 1.4em;
    }

    footer{
        width: 100%;
        margin-top: 42.1em;
        padding: 1em;
        color: white;
        background-color: rgb(0, 149, 213);
    }
}

@media (min-width: 491px){
    body{
        background-image: url("../images/fond-accueil1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
    }

    .competences{
        margin: 0 auto;
    }

    .mb-3{
        color: white;
        margin-left: 2em;
        margin-top: 1em;
    }

    img{
        margin-left: 7em;
    }

    h5{
        text-align: center;
    }

    a{
        margin-left: 5.6em;
    }

    .card{
        margin: 0 auto;
        margin-top: 1.4em;
    }

    footer{
        width: 100%;
        margin-top: 42.1em;
        padding: 1em;
        color: white;
        background-color: rgb(0, 149, 213);
    }
}