@media (max-width: 490px){
    table{
        width:30%;
    }

    img{
        width: 100%;
    }

    body{
        background-image: url("../images/fond-accueil4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
        color: white;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
        font-size: 10px;
    }

    h1{
        color: white;
        margin: 0 auto;
    }

    .mb-3{
        color: white;
        margin-left: 2em;
        margin-top: 1em;
        font-size: 10px;
    }

    table{
        margin: 0 auto;
        margin-top: 1em;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 1%;
    }

    thead{
        font-weight: bold;
    }

    table i{
        color: black;
    }

    td{
        padding: 0.2em;
    }

    #bouton1, #bouton2, #bouton3{
        margin-left: 2em;
        margin-top: 1em;
    }

    #bouton1{
        margin-left: 2em;
    }

    #AjoutProjet{
        color: white;
        text-decoration: none;
    }

    #fleche{
        visibility: hidden;
    }

    footer{
        width: 100%;
        margin-top: 2em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }
}

@media (min-width: 491px) and (max-width: 959px){
    table{
        width:30%;
    }

    img{
        width: 100%;
    }

    body{
        background-image: url("../images/fond-accueil3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
        color: white;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
        margin: 0 auto;
    }

    .mb-3{
        color: white;
        margin-left: 2em;
        margin-top: 1em;
    }

    table{
        margin: 0 auto;
        margin-top: 1em;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 1%;
    }

    thead{
        font-weight: bold;
    }

    table i{
        color: black;
    }

    td{
        padding: 0.2em;
    }

    #bouton1, #bouton2, #bouton3{
        margin-left: 1em;
        margin-top: 1em;
    }

    #bouton1{
        margin-left: 11em;
    }

    #AjoutProjet{
        color: white;
        text-decoration: none;
    }

    #fleche{
        visibility: hidden;
    }

    footer{
        width: 100%;
        margin-top: 2em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }
}

@media (min-width: 960px) and (max-width: 1280px){
    table{
        width:30%;
    }

    img{
        width: 100%;
    }

    body{
        background-image: url("../images/fond-accueil2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
        color: maroon;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
        margin: 0 auto;
    }

    .mb-3{
        color: white;
        margin-left: 2em;
        margin-top: 1em;
    }

    table{
        margin: 0 auto;
        margin-top: 1em;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 1%;
    }

    table i{
        color: black;
    }

    thead{
        font-weight: bold;
    }

    td{
        padding: 0.2em;
    }

    #bouton1, #bouton2, #bouton3{
        margin-left: 1em;
        margin-top: 1em;
    }

    #bouton1{
        margin-left: 22em;
    }

    #AjoutProjet{
        color: white;
        text-decoration: none;
    }

    #fleche{
        visibility: hidden;
    }

    footer{
        width: 100%;
        margin-top: 2em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }
}

@media (min-width: 1281px){
    table{
        width:30%;
    }

    img{
        width: 100%;
    }

    body{
        background-image: url("../images/fond-accueil1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
        color: white;
    }

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        width: 100%;
    }

    nav a{
        float: right;
        color: white;
        text-decoration: none;
        margin-right: 3em;
    }

    h1{
        color: white;
        margin: 0 auto;
    }

    .mb-3{
        color: white;
        margin-left: 2em;
        margin-top: 1em;
    }

    table{
        margin: 0 auto;
        margin-top: 1em;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 1%;
    }

    table i{
        color: black;
    }

    thead{
        font-weight: bold;
    }

    td{
        padding: 0.2em;
    }

    #bouton1, #bouton2, #bouton3{
        margin-left: 1em;
        margin-top: 1em;
    }

    #bouton1{
        margin-left: 44em;
    }

    #AjoutProjet{
        color: white;
        text-decoration: none;
    }

    #fleche{
        float: right;
        margin-right: 3em;
        font-size: 24px;
        background-color: rgb(0, 149, 213);
        color: white;
        padding: 0.5em;
        border-radius: 50%;
    }

    footer{
        width: 100%;
        margin-top: 2em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }
}