/* PORTABLE VERTICAL */
@media (max-width: 490px){
    body{
        background-image: url("../images/fond-accueil4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
    }

    /* HEADER */

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        flex-direction: row-reverse;
        position: fixed;
        width: 100%;
        visibility: hidden;
    }

    .navbar a{
        float: right;
        color: white;
        text-decoration: none;
        margin-left: 0.4em;
        font-size: 13px;
    }

    .cache{
        visibility: hidden;
    }

    /* MAIN */

    .image{
        padding-top: 15em;
        padding-bottom: 8em;
    }

    h1{
        color : white;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        font-weight: bold;
        width: 70%;
        margin: 0 auto;
    }

    h1, h2{
        text-align: center;
    }

    .connexion{
        color: white;
        text-decoration: none;
        transition: 0.5s;
    }

    .connexion:hover{
        color: white;
    }

    /* A propos */

    #propos{
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .propos{
        color: white;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        padding: 1em;
        width: 90%;
        margin: 0 auto;
    }

    .propos h2{
        padding-bottom: 1em;
    }

    /* Parcours */
    #parcours{
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .parcours{
        color: white;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        padding: 1em;
        width: 90%;
        margin: 0 auto;
    }

    .parcours h2{
        padding-bottom: 1em;
    }

    #cv{
        margin-left: 5em;
        margin-top: 1em;
        background-color: rgb(0, 119, 170);
        border: none;
    }

    #cv a{
        color: white;
        text-decoration: none;
    }

    /* Compétences */

    .competences{
        background-color: rgba(125, 125, 125, 0.7);
        border-top-left-radius: 3%;
        border-top-right-radius: 3%;
        width: 90%;
        margin: 0 auto;
        padding: 2em;
    }

    .competences h2{
        padding-bottom: 1em;
        color: white;
    }

    .langages{
        margin-left: 0.5em;
    }

    .voirCompetences{
        color: black;
        text-decoration: none;
    }

    .propos p, .parcours p, .competences p{
        margin: 0 auto;
        width: 100%;
    }

    /* Portfolio */

    #portfolio{
        margin: 0 auto;
        width: 90%;
        color: white;
        background-color: rgba(125, 125, 125, 0.7);
    }

    .projet{
        margin-left: 2em;
    }

    #portfolio img{
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #portfolio img:hover{
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    /* Contact */

    .contact{
        color: white;
        background-color: rgba(125, 125, 125, 0.7);
        border-bottom-left-radius: 3%;
        border-bottom-right-radius: 3%;
        width: 90%;
        margin: 0 auto;
        padding: 1em;
    }

    .contact h2{
        padding-bottom: 1em;
    }

    .info{
        width: 100%;
    }

    .formulaire{
        width: 100%;
    }

    .formulaire button{
        margin-top: 1em;
        background-color: rgb(0, 119, 170);
        border: none;
    }

    #voirMessage{
        color: white;
        text-decoration: none;
    }

    #fleche{
        visibility: hidden;
    }

    /* FOOTER */

    footer{
        width: 100%;
        margin-top: 5em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }

    footer i{
        font-size: 30px;
        float: right;
        padding-right: 0.5em;
        color : white;
        text-decoration: none;
    }

    .whire{
        float: right;
        text-decoration: none;
        color: rgb(0, 149, 213);
        background-color: white;
        width: 9%;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        border-radius: 10%;
        margin-top: 0.05em;
        transition: 0.5s;
    }

    .whire:hover{
        color: rgb(0, 149, 213);
    }

    .clear{
        clear: both;
    }
}

/* PORTABLE HORIZONTAL & TABLETTE VERTICALES */

@media (min-width: 491px ) and (max-width: 959px){
    body{
        background-image: url("../images/fond-accueil3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
    }

    /* HEADER */

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        flex-direction: row-reverse;
        position: fixed;
        width: 100%
    }

    .navbar a{
        color: white;
        text-decoration: none;
        margin-right: 0.2em;
        font-size: 13px;
    }

    /* MAIN */

    .image{
        padding-top: 20em;
        padding-bottom: 20em;
    }

    h1{
        padding: 0.5em;
        color : white;
        margin: 0 auto;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        font-weight: bold;
        width: 50%;
    }

    h1, h2{
        text-align: center;
    }

    .connexion{
        color: white;
        text-decoration: none;
        transition: 0.5s;
    }

    .connexion:hover{
        color: white;
    }

    /* A propos */

    #propos{
        padding-top: 15em;
        padding-bottom: 15em;
    }

    .propos{
        color: white;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        padding: 1em;
        width: 50%;
        margin: 0 auto;
    }

    .propos h2{
        padding-bottom: 1em;
    }

    /* Parcours */

    #parcours{
        padding-top: 25em;
        padding-bottom: 25em;
    }

    .parcours{
        color: white;
        padding: 1em;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        width: 50%;
        margin: 0 auto;
    }

    .parcours h2{
        padding-bottom: 1em;
    }

    #cv{
        margin-left: 10.5em;
        background-color: rgb(0, 119, 170);
        border:none;
    }

    #cv a{
        color: white;
        text-decoration: none;
    }

    /* Compétences */

    #competences{
        padding-top: 25em;
        padding-bottom: 25em;
    }

    .competences{
        width: 60%;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        margin: 0 auto;
        padding: 2em;
    }

    .competences h2{
        padding-bottom: 1em;
        color: white;
    }

    .langages{
        margin-left: 10em;
    }

    .voirCompetences{
        color: black;
        text-decoration: none;
    }

    .propos p, .parcours p, .competences p{
        margin: 0 auto;
        width: 100%;
    }

    /* Portfolio */

    #portfolio{
        color: white;
        margin: 0 auto;
        width: 65%;
        margin-bottom: 50em;
    }

    #portfolio h2{
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        width: 20%;
        margin: 0 auto;
        padding: 0.1em;
    }

    #portfolio img{
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #portfolio img:hover{
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    /* Contact */

    .contact{
        width: 60%;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        color: white;
        margin: 0 auto;
        padding: 1em;
    }

    .contact h2{
        padding-bottom: 1em;
    }

    .info{
        width: 60%;
        margin-left: 6em;
    }

    .formulaire{
        width: 60%;
        margin-left: 6em;
    }

    .formulaire button{
        margin-top: 1em;
        background-color: rgb(0, 119, 170);
    }

    #voirMessage{
        color: white;
        text-decoration: none;
    }

    #fleche{
        float: right;
        margin-right: 3em;
        font-size: 24px;
        background-color: rgb(0, 149, 213);
        color: white;
        padding: 0.5em;
        border-radius: 50%;
    }

    /* FOOTER */

    footer{
        width: 100%;
        margin-top: 13em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }

    footer i{
        font-size: 30px;
        float: right;
        padding-right: 1em;
        color : white;
        text-decoration: none;
    }

    .whire{
        float: right;
        text-decoration: none;
        color: rgb(0, 149, 213);
        background-color: white;
        width: 3%;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        border-radius: 10%;
        margin-top: 0.05em;
        transition: 0.5s;
    }

    .whire:hover{
        color: rgb(0, 149, 213);
    }

    .clear{
        clear: both;
    }
}

/* TABLETTE HORIZONTALE & PETIT ECRAN */

@media (min-width: 960px) and (max-width: 1280px){
    body{
        background-image: url("../images/fond-accueil2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
        font-size: 18px;
    }

    /* HEADER */

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        flex-direction: row-reverse;
        position: fixed;
        width: 100%
    }

    .navbar a{
        color: white;
        text-decoration: none;
        margin-right: 1em;
    }

    /* MAIN */

    .image{
        padding-top: 22em;
        padding-bottom: 22em;
    }

    h1{
        color : white;
        font-weight: bold;
        font-size: 36px;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        width: 25%;
        margin: 0 auto;
        margin-bottom: 17em;
        padding : 0.5em;
    }

    h1, h2{
        text-align: center;
    }

    .connexion{
        color: white;
        text-decoration: none;
        transition: 0.5s;
    }

    .connexion:hover{
        color: white;
    }

    /* A propos */

    #propos{
        padding-top: 0.1em;
    }

    .propos{
        color : white;
        margin: 0 auto;
        margin-top: 17em;
        margin-bottom: 30em;
        width: 50%;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        padding: 1em;
    }

    .propos h2{
        padding-bottom: 1em;
    }

    /* Parcours */

    #parcours{
        padding-top: 0.1em;
    }

    .parcours{
        color : white;
        margin: 0 auto;
        margin-top: 10em;
        margin-bottom: 40em;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        padding: 1em;
        width: 50%;
    }

    .parcours h2{
        padding-bottom: 1em;
    }

    #cv a{
        color: white;
        text-decoration: none;
    }

    #cv{
        margin-left: 14.2em;
        margin-top: 1em;
        width: 20%;
        background-color: rgb(0, 119, 170);
        border: none;
    }

    /* Compétences */

    #competences{
        padding-bottom: 45em;
    }

    .competences{
        width: 85%;
        color: white;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        margin: 0 auto;
        margin-top: 20em;
        margin-bottom: 17em;
        padding: 5em;
    }

    .competences h2{
        padding-bottom: 1em;
    }

    .langages{
        margin-left: 15em;
    }

    .voirCompetences{
        color: black;
        text-decoration: none;
    }

    .propos p, .parcours p, .competences p{
        margin: 0 auto;
        text-align: justify;
        width: 100%;
    }

    /* Portfolio */

    #portfolio h2{
        background-color: rgba(125, 125, 125, 0.7);
        color: white;
        border-radius: 3%;
        margin-top: 0.1em;
        width: 25%;
        margin: 0 auto;
        
    }

    #portfolio{
        margin: 0 auto;
        width: 65%;
        padding-top: 13em;
        margin-bottom: 13em;
    }

    #portfolio img{
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #portfolio img:hover{
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    /* Contact */
    #contact{
        margin-top: 30em;
    }

    .contact{
        width: 80%;
        margin: 0 auto;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        color: white;
        padding-bottom: 25em;
    }

    .contact h2{
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .info{
        float: left;
        width: 40%;
        margin-left: 5em;
    }

    .formulaire{
        float: left;
        width: 40%;
        margin-left: 2em
    }

    .formulaire button{
        margin-top: 1em;
        background-color: rgb(0, 119, 170);
        border: none;
    }

    #voirMessage{
        color: white;
        text-decoration: none;
    }

    #fleche{
        float: right;
        margin-right: 3em;
        font-size: 24px;
        background-color: rgb(0, 149, 213);
        color: white;
        padding: 0.5em;
        border-radius: 50%;
    }

    /* FOOTER */

    footer{
        width: 100%;
        margin-top: 13em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }

    footer i{
        font-size: 30px;
        float: right;
        padding-right: 1em;
        color : white;
        text-decoration: none;
    }

    .whire{
        float: right;
        text-decoration: none;
        color: rgb(0, 149, 213);
        background-color: white;
        width: 2.5%;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        border-radius: 10%;
        margin-top: 0.05em;
        transition: 0.5s;
    }

    .whire:hover{
        color: rgb(0, 149, 213);
    }

    .clear{
        clear: both;
    }
}

/* GRAND ECRAN */

@media (min-width: 1281px){
    body{
        background-image: url("../images/fond-accueil1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin: 0 auto;
        font-size: 20px;
    }

    /* HEADER */

    .navbar{
        background-color: rgb(0, 149, 213);
        opacity: 0.8;
        flex-direction: row-reverse;
        position: fixed;
        width: 100%
    }

    .navbar a{
        color: white;
        text-decoration: none;
        margin-right: 1em;
    }

    /* MAIN */

    .image{
        padding-top: 22em;
        padding-bottom: 27em;
    }

    h1{
        color : white;
        font-weight: bold;
        font-size: 48px;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        width: 30%;
        margin: 0 auto;
        padding : 0.5em;
    }

    h1, h2{
        text-align: center;
        color : white;
    }

    .connexion{
        color: white;
        text-decoration: none;
        transition: 0.5s;
    }

    .connexion:hover{
        color: white;
    }

    /* A propos */

    #propos{
        padding-top: 20em;
    }

    .propos{
        color : white;
        margin: 0 auto;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        padding: 1em;
        width: 50%;
        margin-bottom: 30em;
    }

    .propos h2{
        padding-bottom: 1em;
    }

    /* Parcours */

    #parcours{
        padding-top: 0.1em;
    }

    .parcours{
        color : white;
        margin: 0 auto;
        margin-top: 15em;
        margin-bottom: 40em;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        padding: 1em;
        width: 50%;
    }

    .parcours h2{
        padding-bottom: 1em;
    }

    #cv{
        margin-top: 1em;
        margin-left: 24em;
        width: 16%;
        background-color: rgb(0, 119, 170);
        border: none;
    }

    #cv a{
        text-decoration: none;
    }

    /* Compétences */

    #competences{
        padding-top: 10em;
        padding-bottom: 45em;
    }

    .competences{
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        width: 80%;
        padding: 1em;
        margin-top: 22em;
        margin: 0 auto;
    }

    .competences h2{
        padding-bottom: 1em;
    }

    .langages{
        margin-left: 25em;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }

    .voirCompetences{
        color: white;
        text-decoration: none;
    }

    .propos p, .parcours p, .competences p{
        margin: 0 auto;
        width: 60%;
        text-align: justify;
    }

    /* Portfolio */

    #portfolio h2{
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
        width: 20%;
        margin: 0 auto;
        padding: 0.1em;
    }

    #portfolio{
        margin: 0 auto;
        width: 46%;
        padding-top: 13em;
        margin-bottom: 26em;
    }

    #portfolio img{
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #portfolio img:hover{
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    /* Contact */

    #contact{
        padding-top: 2em;
    }

    .contact{
        width: 70%;
        margin: 0 auto;
        margin-top: 60em;
        padding-bottom: 20em;
        background-color: rgba(125, 125, 125, 0.7);
        border-radius: 3%;
    }

    .contact h2{
        padding-bottom: 1em;
    }

    .info{
        float: left;
        width: 40%;
        margin-left: 5em;
        color: white;
    }

    .formulaire{
        float: left;
        width: 40%;
        margin-left: 2em
    }

    .formulaire button{
        margin-top: 1em;
        background-color: rgb(0, 119, 170);
        border: none;
    }

    #voirMessage{
        color : maroon;
        text-decoration: none;
    }

    #fleche{
        float: right;
        margin-right: 3em;
        font-size: 24px;
        background-color: rgb(0, 149, 213);
        color: white;
        padding: 0.5em;
        border-radius: 50%;
    }

    /* FOOTER */

    footer{
        width: 100%;
        margin-top: 13em;
        padding: 1em;
        color: white;
        background-color:rgb(0, 149, 213);
    }

    footer i{
        font-size: 30px;
        float: right;
        padding-right: 1em;
        color : white;
        text-decoration: none;
    }

    .whire{
        float: right;
        text-decoration: none;
        color: rgb(0, 149, 213);
        background-color: white;
        width: 2%;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        border-radius: 10%;
        margin-top: 0.05em;
        padding-left: 0.18em;
        padding-right: 0.18em;
        transition: 0.5s;
    }

    .whire:hover{
        color: rgb(0, 149, 213);
    }

    .clear{
        clear: both;
    }
}