{% extends 'base.html.twig' %}

{% block stylesheets %}
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/read-projet.css') }}">
</head>
{% endblock %}
{% block body %}
<body>
    <header>
        <nav class="navbar">
            {% if app.user %}
                <div class="mb-3">
                    {{ app.user.username }} <!-- Affiche le mail de l'utilisateur connecté -->
                </div>
            {% endif %}
            {% if app.user %}
                <h1>Admin</h1>
            {% else %}
                <h1 class="projet">Projets</h1>
            {% endif %}
            {% if app.user %} 
                <a href="../logout">Déconnexion</a>
            {% endif %}
        </nav>
    </header>
    <div class="card">    
        <div class="card-body">
            <h5>{{ projet.nom }}</h5>
            <img src="{{ projet.image }}" alt="logo">
            {% if app.user %}    
                <a href="/read-all-projet" class="btn btn-primary">Retour</a>
            {% else %}
                <a href="/#portfolio" class="btn btn-primary">Retour</a>
            {% endif %}
        </div>
    </div>
    <footer>
        &copy; 2021, Charly Delaize
    </footer>
</body>
{% endblock %}